body
{
    background-color: rgb(200, 200, 200);
    color: rgb(100, 100, 100);
}

div
{
    padding-bottom: 20px;
    padding-left: 20px;
}

a
{
    text-decoration: none;
    font-size: 18px;
}

/* Unvisited Link */
a:link
{
    color: rgb(12, 12, 255);
}

/* Visited Link */
a:visited
{
    color: white;
}

a:hover
{
    color: rgb(242, 242, 0);
}