header, footer {
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
    padding: 8px;
}

body {
    background-image: url("../img/museumbackground.png"), radial-gradient(transparent, black);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: Arial;
    margin: 0;
}

img
{
    float: left;
    width: 50%;
}

p
{
    color: white;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

footer
{
    clear: left;
}
